{% extends 'base.html' %}


{% block title %}About Me{%endblock title %}

{%block content %}
<h1>About Me</h1>
<h3>
    James Chon, a native of Guam now residing in the vibrant city of Las Vegas, embodies a zest for exploration and
    technological prowess. Between immersing himself in the diverse cultures of his travels and conquering digital
    realms through video games, James finds solace and excitement. Fueling his passion for innovation, he has embarked
    on a journey through a fullstack software developer bootcamp, poised to blend his adventurous spirit with his
    burgeoning coding skills, shaping a future where boundaries are merely opportunities for exploration.
</h3>

{% endblock content %}